<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StoreDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\claudio\Desktop\GitHub\TDIN2\Enterprise\Store\StoreDB.mdf;Integrated Security=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="StoreServiceBinding" />
            </wsDualHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="StoreServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="StoreServiceBehavior" name="Store.StoreService">
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" listenUriMode="Explicit" />
                <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="StoreServiceBinding" contract="Store.IStoreService" listenUriMode="Explicit" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9000/Store" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>