<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WarehouseDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\claudio\Desktop\GitHub\TDIN2\Enterprise\Warehouse\WarehouseDB.mdf;Integrated Security=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:9000/Store" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IStoreService" contract="StoreService.IStoreService"
                name="WSDualHttpBinding_IStoreService">
                <identity>
                    <userPrincipalName value="CALISTO\Hugo" />
                </identity>
            </endpoint>
        </client>
        <bindings>
            <netMsmqBinding>
                <binding name="WarehouseQueueBinding">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IStoreService" />
            </wsDualHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WarehouseServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="WarehouseServiceBehavior" name="Warehouse.WarehouseService">
                <endpoint address="" binding="netMsmqBinding" bindingConfiguration="WarehouseQueueBinding" name="QueueEndpoint" contract="Warehouse.IWarehouseService"/>
                
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Warehouse/WarehouseService/" />
                        <add baseAddress="net.msmq://localhost/private/Warehouse"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>