<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="QueueEndpoint">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IStoreService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/Store" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IStoreService" contract="StoreService.IStoreService"
                name="WSDualHttpBinding_IStoreService">
                <identity>
                    <userPrincipalName value="CALISTO\Hugo" />
                </identity>
            </endpoint>
            <endpoint address="net.msmq://localhost/private/Warehouse" binding="netMsmqBinding"
                bindingConfiguration="QueueEndpoint" contract="WarehouseService.IWarehouseService"
                name="QueueEndpoint" />
        </client>
    </system.serviceModel>
</configuration>